@model IEnumerable<CartersioLibreria.View_listaGestionUsuarios>


<div class="table-responsive ">
    @functions {
        public static string Sorter(string columnName , string columnHeader , WebGrid grid)
            {
            return string.Format("{0} {1}" , columnHeader , grid.SortColumn == columnName ?
            grid.SortDirection == SortDirection.Descending ? "▲" :
            "▼" : "");
            }
    }
    @{
        var grid = new WebGrid(source: ViewBag.ListaVal, canSort: true, rowsPerPage:30);

        @grid.GetHtml(
                                mode: WebGridPagerModes.All ,
                                columns: grid.Columns(
                                grid.Column("nif" , Sorter("nif" , "nif" , grid) , style: "ancho" , format: @<span>
                                        <a class="listado-ver" style="cursor:pointer;" onclick="mostrarValores('@item.nif')">@item.nif    </a>
                                    </span>) ,
                                grid.Column("apellidos" , Sorter("apellidos" , "Apellidos" , grid) , format: @<span>@item.apellidos </span>) ,
                                grid.Column("nombre" , Sorter("nombre" , "nombre" , grid) , format: @<span>@item.nombre </span>)
                         )
                         , htmlAttributes: new { @class = "table table-striped table-hover table-bordered table-facilities " , @id = "gridValores" }
                         )
    }

    @*@Html.PagedListPager((IPagedList) Model , page => Url.Action("_GridValores" , new { page    }))*@



</div>

