
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

    <div class="wrapper_home">

        <!--Comienzo del Carrusel de imagenes-->
        <a name="section1" class="section"></a>
        <div id="carrusel">

            <div id="nav_container">
                <div id="slider" class="nivoSlider">
                    <img src="/images/Enslider01.jpg" data-thumb="/images/Enslider01.jpg" alt="" />
                    <img src="/images/Enslider02.jpg" data-thumb="/images/Enslider02.jpg" style="display:none;" alt="" />
                    <img src="/images/Enslider03.jpg" data-thumb="/images/Enslider03.jpg" style="display:none;" title="#link_slider" alt="" />
                    <img src="/images/Enslider04.jpg" data-thumb="/images/Enslider04.jpg" style="display:none;" alt="" />
                    <img src="/images/Enslider05.jpg" data-thumb="/images/Enslider05.jpg" style="display:none;" alt="" />

                </div>
            </div>

            <div id="link_slider" class="nivo-html-caption">
                <div class="center">
                    <div class="blue_box">
                        <h3>Updated fund<br />information</h3>

                        <div class="acceso_fondos">
                            <div class="fila fila_cabecera">
                                <div class="columna_01 columna">

                                </div>
                                <div class="columna_02 columna">
                                    Performance
                                </div>
                                <div class="columna_03 columna">
                                    Reports
                                </div>
                            </div>

                            <div class="fila fila_normal">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_y_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_y#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_y#informacion_fondo" data-target="#informacion_fondo"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_normal">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_x_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_x#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_x"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_dos_lineas">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_equity_blanco_slider.svg" alt="" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_equity#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_equity"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_dos_lineas">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_income_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_income#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/En/fondo_cartesio_income"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div id="nav_slider_container">
                <div id="cabecera-responsive">

                    <img src="/images/Enslider01.jpg" data-thumb="/images/slider01.jpg" alt="" />
                    <img src="/images/Enslider02.jpg" data-thumb="/images/slider02.jpg" style="display:none;" alt="" />
                    <img src="/images/Enslider03.jpg" data-thumb="/images/slider03.jpg" style="display:none;" title="#link_slider" alt="" />
                    <img src="/images/Enslider04.jpg" data-thumb="/images/slider04.jpg" style="display:none;" alt="" />
                    <img src="/images/Enslider05.jpg" data-thumb="/images/slider05.jpg" style="display:none;" alt="" />

                </div>
            </div>
            <div class="center">


                <div id="flecha_01"></div>
                <div id="valores">
                    <h3>Performance Cartesio <span id="currentYear"></span></h3>
                    <div class="valores_num">
                        <div class="valor_txt left"><img src="/images/titulos/cartesio_x_white.png" alt="Valor de Cartesio X" /></div><div class="valor_num right">2,76%</div>
                    </div>
                </div>
                <!--<div id="boton_aniversario"><a class='vimeo' href="//player.vimeo.com/video/90038904?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Video Aniversario"><img src="/images/10aniversario.png" alt="Decimo Aniversario"/></a></div>--enlace al video del decimo aniversario que se abre en una modal usando el plugin colorbox-->
            </div>
        </div>
        <!--fin del carrusel de imagenes-->



        <div id="sobre_cartesio" class="seccion sec_pest">

            <a name="section2" class="section"></a>
            <h2 class="title">Cartesio</h2>
            <div class="center">
                <div id="flecha_08"></div>
                <div class="box_pestanas">
                    <ul>
                        <li class="sec1_01"><a href="#presentacion">Cartesio</a></li>
                        <li><a href="#rasgos_diferenciales">We Are Different</a></li>
                        <li><a href="#estilo_inversion">Investment Philosophy</a></li>
                        <li><a href="#socios_gestores">Partners and Managers</a></li>

                    </ul>
                    <!--INICIO pestaña presentación-->
                    <h4>Cartesio Inversiones</h4>
                    <div id="presentacion" class="pestana_sec1_01">
                        <div class="left">
                            <p>Cartesio Inversiones SGIIC SA is a mutual fund manager authorised and supervised by the Spanish Comisión Nacional del Mercado de Valores (CNMV). Cartesio is independent and its funds are managed by the same three partners since inception.</p>
                            <p>The two mutual funds (Cartesio X; Cartesio Y) managed by Cartesio since 2004 are top ranked by MORNINGSTAR which in practical terms means they have delivered attractive returns with low volatility and both funds are trading above the level reached before the credit crisis.</p>
                            <p>Cartesio offers the possibility of investing in two UCITS III Luxembourg SICAVS (Cartesio Income; Cartesio Equity) which replicate the investment strategy of the two funds registered in Spain.</p>
                        </div>
                        <div class="right">
                            <p>Our funds:</p>
                            <div class="bloque_estrategia">
                                <h3>Spain</h3>
                                <div class="boton">
                                    <a href="fondo_cartesio_y" class="btn_fnd_home"><img src="/images/titulos/cartesio_y_med.png" alt="Acceso a Cartesio Y" /></a>
                                    <div class="ver_mas"><a href="fondo_cartesio_y">View More</a></div>
                                </div>
                                <div class="boton final">
                                    <a href="fondo_cartesio_x" class="btn_fnd_home"><img src="/images/titulos/cartesio_x_med.png" alt="Acceso a Cartesio X" /></a>
                                    <div class="ver_mas"><a href="fondo_cartesio_x">View More</a></div>
                                </div>
                            </div>
                            <div class="bloque_estrategia final">
                                <h3>Luxembourg</h3>
                                <div class="boton">
                                    <a href="fondo_cartesio_equity" class="btn_fnd_home down_line"><img src="/images/titulos/cartesio_equity_vert.png" alt="Acceso a Cartesio Equity" /></a>
                                    <div class="ver_mas"><a href="fondo_cartesio_equity">View More</a></div>
                                </div>
                                <div class="boton final">
                                    <a href="fondo_cartesio_income" class="btn_fnd_home down_line"><img src="/images/titulos/cartesio_income_vert.png" alt="Acceso a Cartesio Income" /></a>
                                    <div class="ver_mas"><a href="fondo_cartesio_income">View More</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="~/docs/Institutional%20Presentation%20-%202T17.pdf" target="_blank" title="">Institutional Presentation <span class="light_grey"> |PDF|1.5 MB</span></a>
                            <a class="pdf_descarga" href="~/docs/GIPS%20Report.pdf" target="_blank" title="">GIPS Report <span class="light_grey"> |PDF|1.5 MB</span></a>
                            <a class='vimeo video_enlace' href="http://player.vimeo.com/video/90038904?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Video Aniversario">Tenth Anniversary Video</a>
                        </div>
                    </div>
                    <!--FIN pestaña presentación-->
                    <h4>We Are Different</h4>
                    <div id="rasgos_diferenciales" class="pestana_sec1_02">
                        <div class="left">

                            <h3>Commitment</h3>
                            <ul>
                                <li>All the financial net worth of the partners can only be invested in the Cartesio funds. This commitment is reflected in the articles of association of the company and in the code of conduct registered with the CNMV</li>
                                <li>No change in partners / managers since inception</li>
                            </ul>

                            <h3>Capital protection mindset</h3>
                            <ul>
                                <li>Willingness to forego potential returns in order to <br />protect capital</li>
                            </ul>

                            <h3>Active Management</h3>
                            <ul>
                                <li>High flexibility in asset allocation</li>
                                <li>Concentrated equity portfolio</li>
                                <li>Risk adjusted investment objective</li>
                                <li>Long bias mindframe but seeking alpha through concentrated portfolio. Cash is an asset to protect capital and invest</li>

                            </ul>
                        </div>
                        <div class="right">
                            <h3>Two Funds</h3>
                            <ul>
                                <li>Simplifies the asset allocation process for the client</li>
                                <li>Concentrates fund managers' efforts</li>
                            </ul>

                            <h3>Low fixed AND performance management fees</h3>
                            <ul>
                                <li>Fair manager compensation - with or without performance</li>
                                <li>No subscription or redemption fees</li>
                            </ul>

                            <h3>Transparency</h3>
                            <ul>
                                <li>Monthly public reports with full disclosure regarding positions and asset allocation</li>
                                <li>Daily Liquidity</li>
                            </ul>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="~/docs/Institutional%20Presentation%20-%202T17.pdf" target="_blank" title="">Institutional Presentation <span class="light_grey"> |PDF|1.5 MB</span></a>
                        </div>
                    </div>
                    <h4>Investment Philosophy</h4>
                    <div id="estilo_inversion" class="pestana_sec1_03">
                        <div class="left">
                            <h3>Equities</h3>
                            <ul>
                                <li>Limited number of stocks in portfolio (25 - 30)</li>
                                <li>Prefer value over growth. "Price" is the key factor</li>
                                <li>Quality of the business is an important factor</li>
                                <li>Prefer businesses easy to understand and value</li>
                                <li>Fundamental valuation: multiples, cash flow generation, value creation, DCF</li>
                                <li>Focused on mid to large caps</li>
                                <li>Avoid excessive leverage</li>
                                <li>No stop loss per position</li>

                            </ul>
                        </div>
                        <div class="right">
                            <h3>Bonds</h3>
                            <ul>
                                <li>Diversification</li>
                                <li>Duration risk taken only at attractive nominal rates</li>
                                <li>Value liquidity, benchmark issues</li>
                                <li>Like issuers with "dividend protection"</li>
                                <li>Prefer low credit risk in normal circumstances</li>
                                <li>Duration risk managed with bund futures</li>
                            </ul>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="~/docs/Institutional%20Presentation%20-%202T17.pdf" target="_blank" title="">Institutional Presentation <span class="light_grey"> |PDF|1.5 MB</span></a>
                        </div>
                    </div>

                    <h4>Partners and Managers</h4>
                    <div id="socios_gestores" class="pestana_sec1_04">
                        <div id="foto_gestores"></div>
                        <div id="cayetano"></div>
                        <div id="alvaro"></div>
                        <div id="juan"></div>

                        <ul class="right">
                            <li><a class="cruz_cierre" href="#foto_gestores"></a></li>
                            <li><a href="#cayetano">Cayetano Cornet +</a></li>
                            <li><a href="#alvaro">Álvaro Martínez +</a></li>
                            <li style="margin-right:40px;"><a href="#juan">Juan A. Bertrán +</a></li>

                        </ul>
                        <div class="clear">
                            <a class="pdf_descarga" href="~/docs/Institutional%20Presentation%20-%202T17.pdf" target="_blank" title="">Institutional Presentation <span class="light_grey"> |PDF|1.5 MB</span></a>
                        </div>
                    </div>
                </div>

                <div id="flecha_02"></div>
            </div>
        </div>



        <div id="los_fondos" class="seccion">
            <div class="center">
                <div id="flecha_07"></div>

                <a name="section3" class="section"></a>
                <h2>The Funds</h2>
                <div class="left mobile_bottom">

                    <div class="min_height">
                        <h3 class="titulo_fondo"><a href="fondo_cartesio_y"><img src="/images/titulos/cartesio_y.png" alt="Acceso a Cartesio Y" /></a></h3>
                        <h3>Investment Objetive</h3>
                        <p>Long term capital appreciation in real terms in Euros. Seeks higher risk adjusted returns (Sharpe ratio) than European Equities represented by the MSCI Pan Euro Index. Willingness to forego potential returns in order to give an adequate capital protection.</p>
                        <h3>Asset Allocation</h3>
                        <p>Total flexibility in equity exposure (0%-100%). Equity exposure through a limited number of stocks. Maximum of 40% in non European stocks. Maximum 20% net exposure in non Euro currencies.</p>

                    </div>

                    <div class="fondos_premios">
                        <p>Cartesio manages two funds with this strategy:<br /><span>*All ratings apply to Cartesio Y</span></p>
                        <div class="primera left">
                            <h4 class="hide_mobile cartesio_y"><a href="/En/fondo_cartesio_y"><img src="/images/titulos/cartesio_y_peq.png" alt="Acceso a Cartesio Y" /></a></h4>
                            <h4 class="mobile cartesio_y"><a href="/En/fondo_cartesio_y"><img class="logo_mob_peq" src="/images/titulos/cartesio_y.svg" alt="Acceso a Cartesio Y" /></a></h4>
                            <img src="/images/premios/premio_cartesio_y.jpg" class="premio" alt="Premios Cartesio Y" />
                            <div class="ver_mas"><a href="/En/fondo_cartesio_y">View More</a></div>
                        </div>
                        <div class="final left">
                            <h4 class="hide_mobile cartesio_equity"><a href="/En/fondo_cartesio_equity"><img src="/images/titulos/cartesio_equity_asterisco.png" alt="Acceso a Equity" /></a></h4>
                            <h4 class="mobile cartesio_equity"><a href="/En/fondo_cartesio_equity"><img src="/images/titulos/cartesio_equity.svg" alt="Acceso a Equity" /></a></h4>
                            <img src="/images/premios/premio_cartesio_equity.jpg" class="premio" alt="Premios Cartesio Equity" /></a>
                            <div class="ver_mas"><a href="/En/fondo_cartesio_equity">View More</a></div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="min_height">
                        <h3 class="titulo_fondo"><a href="/En/fondo_cartesio_x"><img src="/images/titulos/cartesio_x.png" alt="Acceso a Cartesio X" /></a></h3>
                        <h3>Investment Objetive</h3>
                        <p>Long term capital appreciation in real terms in Euros. Seeks higher risk adjusted returns (Sharpe ratio) than Euro government bonds (Bloomberg/EFFA Euro Gov 7-10 yr Index). Strong emphasis on capital protection.</p>
                        <h3>Asset Allocation</h3>
                        <p>Exposure to equities is limited to a máximum of 40% of assets. Exposure to fixed income is variable (0-100%).</p>

                    </div>

                    <div class="fondos_premios">
                        <p>Cartesio manages two funds with this strategy:<br /><span>*All ratings apply to Cartesio X</span></p>
                        <div class="primera left">
                            <h4 class="hide_mobile cartesio_x"><a href="/En/fondo_cartesio_x"><img src="/images/titulos/cartesio_x_peq.png" alt="Acceso a Cartesio X" /></a></h4>
                            <h4 class="mobile cartesio_x"><a href="/En/fondo_cartesio_x"><img class="logo_mob_peq" src="/images/titulos/cartesio_x.svg" alt="Acceso a Cartesio X" /></a></h4>
                            <img src="/images/premios/premio_cartesio_x.jpg" class="premio" alt="Premios Cartesio X" />
                            <div class="ver_mas"><a href="/En/fondo_cartesio_x">View More</a></div>
                        </div>
                        <div class="final left">
                            <h4 class="hide_mobile cartesio_income"><a href="/En/fondo_cartesio_income"><img src="/images/titulos/cartesio_income_asterisco.png" alt="Acceso a Cartesio Income" /></a></h4>
                            <h4 class="mobile cartesio_income"><a href="/En/fondo_cartesio_income"><img src="/images/titulos/cartesio_income.png" alt="Acceso a Cartesio Income" /></a></h4>
                            <img src="/images/premios/premio_cartesio_income.jpg" class="premio" alt="Premios Cartesio Income" />
                            <div class="ver_mas"><a href="/En/fondo_cartesio_income">View More</a></div>
                        </div>
                    </div>
                </div>
                <div id="flecha_03"></div>
            </div>
        </div>



        <div id="suscripciones_reembolsos" class="seccion sec_pest">

            <a name="section4" class="section"></a>
            <h2 class="title">Subscriptions and Redemptions</h2>
            <div class="center">
                <div id="flecha_06"></div>
                <div class="box_pestanas">
                    <ul>
                        <li class="sec1_01"><a href="#nuevos_clientes">New Clients</a></li>
                        <li><a href="#suscripciones">Subscriptions</a></li>
                        <li><a href="#reembolsos">Redemptions</a></li>
                        <li><a href="#traspasos">Switches</a></li>

                    </ul>

                    <!--INICIO NUEVOS CLIENTES-->
                    <h4>New Clients</h4>
                    <div id="nuevos_clientes">
                        <div class="left">
                            <p>To become a client of Cartesio SGIIC please download the file New Clients, fill it and send it via email to <a href="mailto:clientes@cartesio.com">clientes@cartesio.com</a> or <br />fax to <strong>+34 91 310 61 30</strong>.</p>
                            <div class="downloads">
                                <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Informacion_precontractual_0107.pdf" target="_blank" title="">Cartesio Basic information <span class="light_grey">|PDF|45 KB </span></a>
                                <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Ficha_NuevoCliente.pdf" target="_blank">New Clients <span class="light_grey">|PDF|1.5 MB </span></a>
                                <a class="pdf_descarga" href="~/docs/legal/KID%20Cartesio%20Y%20-%20080216.pdf" target="_blank" title="">KIID Y <span class="light_grey">|PDF| 2.3 MB </span></a>
                                <!--<a class="pdf_descarga"  href="" title="" >Prospectus Equity <span class="light_grey">|PDF| 1.3 MB </span></a>-->
                                <a class="pdf_descarga" href="~/docs/legal/KID%20Cartesio%20X%20-%20080216.pdf" target="_blank" title="">KIID X <span class="light_grey">|PDF| 1.3 MB </span></a>
                                <a class="pdf_descarga" href="~/docs/legal/KIID%20Pareturn%20Cartesio%20Equity%20-%20Espanol%20-%2010022014.pdf" target="_blank" title="" title="">KIID Equity <span class="light_grey">| PDF | 1.3 MB </span></a>
                                <a class="pdf_descarga" href="~/docs/legal/KIID%20Pareturn%20Cartesio%20Income%20-%20Espanol%20-%2010022014.pdf" target="_blank" title="" title="">KIID Income <span class="light_grey">| PDF | 1.3 MB </span></a>


                                <!--<a class="pdf_descarga"  href="" title="" >Prospectus Income <span class="light_grey">|PDF| 1.3 MB </span></a>-->
                            </div>
                        </div>
                        <div class="right">
                            <p>The documents included in the file New Clients are in the following order:</p>
                            <div class="list_number one">
                                <h3> Registration Form</h3>
                                <p>Signature needed of the all the account holders as well as authorized signatories with photocopies of ID documents. This is the only document where the original must be sent to Cartesio.</p>
                            </div>
                            <div class="list_number two">
                                <h3>Client Assesment Test</h3>
                                <p>To be filled and signed by client.</p>
                            </div>
                            <div class="list_number three">
                                <h3>Prospectus Acknowledgement</h3>
                                <p>To be signed by client according to fund subscription.</p>
                            </div>
                            <div class="list_number four">
                                <h3>Know Your Client Questionnaire</h3>
                                <p>To be filled and signed by client.</p>
                            </div>
                            <div class="list_number five">
                                <h3>Subscription/Redemption form</h3>
                                <p>See Subscriptions/Redemptions section.</p>
                            </div>
                        </div>
                        <div class="clear">
                            <p>If you need further information please contact us on <strong>+34 91 3106240</strong><p>
                        </div>
                    </div>
                    <!--FIN NUEVOS CLIENTES-->
                    <!--INICIO SUSCRIPCIONES-->
                    <h4>Subscriptions</h4>
                    <div id="suscripciones">
                        <p class="clear_top">There are two ways of buying Cartesio Funds:</p>
                        <div class="left">
                            <div class="list_number one">
                                <h3>By bank transfer</h3>
                                <p>Bank transfer to the fund's bank account (see below) send it via email <a href="mailto:clientes@cartesio.com">clientes@cartesio.com</a> or fax signed subscription form. Order must be confirmed by phone or fax.</p>
                            </div>
                            <div class="list_number two">
                                <h3>In person</h3>
                                <p>Check payable to the fund (by post or by hand in our offices) together with a signed subscription form</p>
                            </div>
                            <div class="downloads">
                                <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Ficha_Suscripcion.pdf" target="_blank" title="">Subscription Form <span class="light_grey"> |PDF|1.5 MB</span></a>
                            </div>
                        </div>
                        <div class="right">
                            <h3><img src="/images/titulos/cartesio_y_med.png" width="110" /></h3>
                            <p>
                                IBAN: ES20 0144 0001 31 0000052602 - Beneficiary: Cartesio Y, FI<br />
                                SWIFT: PARBFRPP - Account 26292D - Beneficiary: PARBESMX - Account: 52602
                            </p>

                            <h3><img src="/images/titulos/cartesio_x_med.png" width="110" /></h3>
                            <p>
                                IBAN: ES98 0144 0001 34 0000052603  - Beneficiary: Cartesio X, FI<br />
                                SWIFT: PARBFRPP - Account 26292D - Beneficiary: PARBESMX - Account: 52603
                            </p>

                            <h3><img src="/images/titulos/cartesio_equity_med.png" width="150" /></h3>
                            <p>
                                IBAN: ES33 0144 0001 31 0000053241  - Beneficiary: Cartesio Equity<br />
                                SWIFT: PARBFRPP - Account 26292D - Beneficiary: PARBESMX - Account: 53241
                            </p>

                            <h3><img src="/images/titulos/cartesio_income_med.png" width="150" /></h3>
                            <p>
                                IBAN: ES88 0144 0001 32 0000054530  - Beneficiary: Cartesio Income<br />
                                SWIFT: PARBFRPP - Account 26292D - Beneficiary: PARBESMX - Account: 54530
                            </p>


                            <div class="downloads">
                                <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Ficha_Suscripcion.pdf" target="_blank" title="">Subscription Form <span class="light_grey"> |PDF|1.5 MB</span></a>
                            </div>
                        </div>

                        <div class="clear">
                            <p>If you need further information please contact us on <strong>+34 91 3106240</strong><p>
                        </div>
                    </div>

                    <!--FIN SUSCRIPCIONES-->
                    <h4>Redemptions</h4>

                    <div id="reembolsos">
                        <div class="left">
                            <p>Redemptions will be processed upon reception of Redemption Form (PDF enclosed). The form can be sent by email <a href="mailto:clientes@cartesio.com">clientes@cartesio.com</a>, fax or by hand in our office. If faxed a telephone confirmation is needed.</p>
                            <p>Value date for redemptions is the day the order is received by Cartesio for orders received before 2:00 pm. Capital gains are taxed at 21% for tax residents in Spain.</p>
                        </div>

                        <div class="clear_top">
                            <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Ficha_Reembolso.pdf" target="_blank" title="">Redemption Form <span class="light_grey"> |PDF|1.5 MB</span></a>
                        </div>
                        <div class="clear">
                            <p>If you need further information please contact us on <strong>+34 91 3106240</strong><p>
                        </div>
                    </div>
                    <h4>Switches</h4>
                    <div id="traspasos">
                        <div class="left">
                            <p>To switch funds from other manager into Cartesio Funds, please complete and sign the switching form attached. Please complete carefully all the date concerning the fund you want to switch from and sent the form via email to <a href="mailto:clientes@cartesio.com">clientes@cartesio.com</a> o faxed to <strong>91 310 61 30</strong> confirm it by phone.</p>
                            <p>Switches between funds for Spanish tax residents are exempt from taxes on capital gains.</p>
                        </div>

                        <div class="clear_top">
                            <a class="pdf_descarga" href="~/docs/SuscripcionesyReembolsos/Ficha_Traspaso.pdf" target="_blank" title="">Switches Form <span class="light_grey"> |PDF|1.5 MB</span></a>
                        </div>
                        <div class="clear">
                            <p>If you need further information please contact us on <strong>+34 91 3106240</strong><p>
                        </div>
                    </div>
                </div>



                <div id="flecha_04"></div>
            </div>
        </div>



        <div id="contacto" class="seccion">

            <div id="flecha_05"></div>
            <div class="center">
                <h2>Contact</h2>
                <a name="section5" class="section"></a>
                <div class="left">
                    <h3>Cartesio Inversiones, SGIIC SA</h3>
                    <ul>
                        <li class="direccion">Rubén Darío 3, 28010 Madrid</li>
                        <li class="correo"><a href="mailto:info@cartesio.com?Subject=Cartesio web" target="_blank" title="">info@cartesio.com</a></li>
                        <li class="telefono">91 310 62 40 </li>
                        <li class="fax">91 310 61 30</li>
                    </ul>
                </div>
                <div class="right">
                    <p>If you want more information about our funds or want to buy them, please fill in your details and we will contact you.</p>
                    <div id="formulario_contacto">
                        <form id="contactForm" method="post" action="#">
                            <input type="text" name="nombre" required placeholder="Name" />
                            <input style="margin-right:0px;" required type="text" name="apellidos" placeholder="Surname" />
                            <input type="text" name="email" required placeholder="E-Mail" />
                            <input style="margin-right:0px;" type="text" name="telefono" placeholder="Telephone" />
                            <textarea placeholder="Comments" required name="comentarios"></textarea>
                            <script type="text/javascript">var RecaptchaOptions = {   theme : 'clean',   lang  : 'es',   tabindex : 0};</script>
                            <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LddBvMSAAAAAAb2g1hhygFUQxKGPR6_0obD1LmF"></script><noscript><iframe src="https://www.google.com/recaptcha/api/noscript?k=6LddBvMSAAAAAAb2g1hhygFUQxKGPR6_0obD1LmF" frameborder="1"></iframe><><textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea><input type="hidden" name="recaptcha_response_field" value="manual_challenge"></noscript>
                            <p></p>
                            <!-- Mensaje de información: aceptar condiciones  -->
                            <p>
                                <input type="checkbox" id="terminos" name="terminos" style="margin-left: 0px; width: 15px; height: 15px; vertical-align: middle; margin-right: 0px; margin-bottom: 0px; margin-top: 2px;"
                                       onclick="if($('#terminos').is(':checked')){ $('#botonSubmitSI').css({'display':'block'}); $('#botonSubmitNO').css({'display':'none'});}else{$('#botonSubmitSI').css({'display':'none'}); $('#botonSubmitNO').css({'display':'block'});}" />
                                <span style="padding-left: 0px;"> I have read and I agree to the “<a href="~/docs/legal/Clausula%20Web.pdf" target="_blank">Data Protection Policy</a>”</span>
                            </p>
                            <input type="hidden" name="enviar" value="1">
                            <input type="submit" value="Enviar" id="botonSubmitSI" style="display: none;" />
                            <button id="botonSubmitNO" disabled="disabled" class="botonDesactivado" style="display: block; cursor: auto;">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

@section scripts{
    <script>
    $(function () {

        var tipo_dato = ['Performance Cartesio @ViewBag.year', 'NAV @ViewBag.date']
        //var datos = ['3,83%', '4,83%', '5,83%', '6,83%', '1689,84', '1234,84', '2345,84', '3214,84'];
        var datos = ['@(ViewBag.consultax)%', '@(ViewBag.consultay)%', '@(ViewBag.consultaequity)%', '@(ViewBag.consultaincome)%', '@(ViewBag.liquidativoX)', '@(ViewBag.liquidativoY)', '@(ViewBag.liquidativoEquity)', '@(ViewBag.liquidativoIncome)'];
        var nombre_dato = ['<img src="../../images/titulos/cartesio_x_white.png" alt="Rentabilidad de Cartesio X"/>', '<img src="../../images/titulos/cartesio_y_white.png" alt="Rentabilidad de Cartesio Y" style="margin-left:10px;"/>', '<img src="../../images/titulos/cartesio_equity_white.png" style="margin-top:-18px; margin-left:30px;" alt="Rentabilidad de Cartesio Equity"/>', '<img src="../../images/titulos/cartesio_income_white.png" style="margin-top:-18px; margin-left:30px;" alt="Rentabilidad de Cartesio Income"/>', '<img src="../../images/titulos/cartesio_x_white.png" alt="Valor de Cartesio X"/>', '<img src="../../images/titulos/cartesio_y_white.png" style="margin-left:10px;" alt="Valor de Cartesio Y"/>', '<img src="../../images/titulos/cartesio_equity_white.png" style="margin-top:-18px; margin-left:30px;" alt="Valor de Cartesio Equity"/>', '<img src="../../images/titulos/cartesio_income_white.png" style="margin-top:-18px; margin-left:30px;" alt="Valor de Cartesio Income"/>'];

        var n = datos.length;
        var number = 1;
        prueba();
        function prueba() {
            var time = setInterval(function () {

                $('#valores h3').html(tipo_dato[0]);
                $('.valor_num').html(datos[number]);
                $('.valor_txt').html(nombre_dato[number]);
                number++
                if (number >= 5) { $('#valores h3').html(tipo_dato[1]); if (number == n) { number = 0; } }

            }, 2500);
        }
    });
    </script>

}

  