


    <div class="wrapper_home">

        <!--Comienzo del Carrusel de imagenes-->
        <a name="section1" class="section"></a>
        <div id="carrusel">
            <div id="nav_container">
                <div id="slider" class="nivoSlider">
                    <img src="/images/slider01.jpg" data-thumb="/images/slider01.jpg" alt="" />
                    <img src="/images/slider02.jpg" data-thumb="/images/slider02.jpg" style="display:none;" alt="" />
                    <img src="/images/slider03.jpg" data-thumb="/images/slider03.jpg" style="display:none;" title="#link_slider" alt="" />
                    <img src="/images/slider04.jpg" data-thumb="/images/slider04.jpg" style="display:none;" alt="" />
                    <img src="/images/slider05.jpg" data-thumb="/images/slider05.jpg" style="display:none;" alt="" />

                </div>
            </div>
            <div id="link_slider" class="nivo-html-caption">
                <div class="center">
                    <div class="blue_box">
                        <h3>Últimos datos<br />de nuestros fondos</h3>

                        <div class="acceso_fondos">
                            <div class="fila fila_cabecera">
                                <div class="columna_01 columna">

                                </div>
                                <div class="columna_02 columna">
                                    Rentabilidad
                                </div>
                                <div class="columna_03 columna">
                                    Informe
                                </div>
                            </div>

                            <div class="fila fila_normal">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_y_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_y#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_y#informacion_fondo" data-target="#informacion_fondo"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_normal">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_x_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_x#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_x"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_dos_lineas">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_equity_blanco_slider.svg" alt="" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_equity#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_equity"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>
                            <div class="fila fila_dos_lineas">
                                <div class="columna_01 columna">
                                    <div class="helper"></div><img class="logo_mob_peq" src="/images/titulos/cartesio_income_blanco_slider.svg" alt="Acceso a Cartesio Y" />
                                </div>
                                <div class="columna_02 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_income#enlace_grafica"><img width="25" height="25" src="/images/boton_rentabilidad.png" alt="Ir a ver la rentabilidad" onerror="this.src='images/boton_rentabilidad.png'"></a>
                                </div>
                                <div class="columna_03 columna">
                                    <div class="helper"></div><a href="/Home/fondo_cartesio_income"><img width="25" height="25" src="/images/boton_informacion.png" alt="Ir a ver la informacion" onerror="this.src='images/boton_informacion.png'"></a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div id="nav_slider_container">
                <div id="cabecera-responsive">

                    <img src="/images/slider01.jpg" data-thumb="/images/slider01.jpg" alt="" />
                    <img src="/images/slider02.jpg" data-thumb="/images/slider02.jpg" style="display:none;" alt="" />
                    <img src="/images/slider03.jpg" data-thumb="/images/slider03.jpg" style="display:none;" title="#link_slider" alt="" />
                    <img src="/images/slider04.jpg" data-thumb="/images/slider04.jpg" style="display:none;" alt="" />
                    <img src="/images/slider05.jpg" data-thumb="/images/slider05.jpg" style="display:none;" alt="" />

                </div>
            </div>
            <div class="center">


                <div id="flecha_01"></div>
                <div id="valores">
                    <h3>Rentabilidades Cartesio <span id="currentYear"></span></h3>
                    <div class="valores_num">
                        <div class="valor_txt left"><img src="/images/titulos/cartesio_x_white.png" alt="Valor de Cartesio X" /></div><div class="valor_num right">2,76%</div>
                    </div>
                </div>
                <!--<div id="boton_aniversario"><a class='vimeo' href="//player.vimeo.com/video/90038904?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Video Aniversario"><img src="/images/10aniversario.png" alt="Decimo Aniversario"/></a></div>--enlace al video del decimo aniversario que se abre en una modal usando el plugin colorbox-->
            </div>
        </div>
        <!--fin del carrusel de imagenes-->



        <div id="sobre_cartesio" class="seccion sec_pest">

            <a name="section2" class="section"></a>
            <h2 class="title">Sobre Cartesio</h2>
            <div class="center">
                <div id="flecha_08"></div>
                <div class="box_pestanas">
                    <ul class="menu_tabs">
                        <li class="sec1_01 firstTab"><a href="#presentacion">Presentación</a></li>
                        <li><a href="#rasgos_diferenciales">Rasgos diferenciales</a></li>
                        <li><a href="#estilo_inversion">Estilo de inversión</a></li>
                        <li class="lastTab"><a href="#equipo">Equipo</a></li>

                    </ul>
                    <!--INICIO pestaña presentación-->
                    <h4>Presentación</h4>
                    <div id="presentacion" class="pestana_sec1_01 block_pestana">
                        <div class="table">
                            <div class="left">
                                <p>Cartesio, es una Sociedad Gestora de Instituciones de Inversión Colectiva (SGIIC) registrada en la Comisión Nacional del Mercado de Valores (CNMV).</p>
                                <p>Fundada en 2004, cuenta con los mismos socios y gestores desde su inicio. Tres socios que creemos en una forma de gestionar fondos basada en el compromiso, la transparencia y la profesionalidad. El primer patrimonio que gestionamos fue el nuestro; hoy, más de 5.000 clientes se han sumado a nosotros para convertirnos en una de las primeras gestoras independientes de España.</p>
                                <p>Los fondos de inversión (Cartesio X; Cartesio Y) gestionados por Cartesio desde su origen, cuentan con la máxima calificación de Morningstar que implica estar entre los primeros del ranking de su categoría en <br />rentabilidad-riesgo.</p>
                                <p>Cartesio ofrece también la posibilidad de invertir en dos fondos domiciliados en Luxemburgo (Cartesio Income; Cartesio Equity) que replican la estrategia de los dos fondos registrados en España.</p>
                            </div>
                            <div class="right">
                                <p>Nuestros fondos:</p>
                                <div class="bloque_estrategia">
                                    <h3>España</h3>
                                    <div class="boton">
                                        <a href="/Home/fondo_cartesio_y" class="btn_fnd_home"><img src="/images/titulos/cartesio_y_med.png" alt="Acceso a Cartesio Y" /></a>
                                        <div class="ver_mas"><a href="/Home/fondo_cartesio_y">Ver más</a></div>
                                    </div>
                                    <div class="boton final">
                                        <a href="/Home/fondo_cartesio_x" class="btn_fnd_home"><img src="/images/titulos/cartesio_x_med.png" alt="Acceso a Cartesio X" /></a>
                                        <div class="ver_mas"><a href="/Home/fondo_cartesio_x">Ver más</a></div>
                                    </div>
                                </div>
                                <div class="bloque_estrategia final">
                                    <h3>Luxemburgo</h3>
                                    <div class="boton">
                                        <a href="/Home/fondo_cartesio_equity" class="btn_fnd_home down_line"><img src="/images/titulos/cartesio_equity_vert.png" alt="Acceso a Cartesio Equity" /></a>
                                        <div class="ver_mas"><a href="/Home/fondo_cartesio_equity">Ver más</a></div>
                                    </div>
                                    <div class="boton final">
                                        <a href="/Home/fondo_cartesio_income" class="btn_fnd_home down_line"><img src="/images/titulos/cartesio_income_vert.png" alt="Acceso a Cartesio Income" /></a>
                                        <div class="ver_mas"><a href="/Home/fondo_cartesio_income">Ver más</a></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="~/docs/Presentacion%20Institucional%20-%202T17.pdf" target="_blank" title="">Presentación institucional <span class="light_grey"> | PDF | 1.5 MB</span></a>
                            <a class="pdf_descarga" href="~/docs/Informe_GIPS_ES.pdf" target="_blank" title="">Informe GIPS <span class="light_grey"> | PDF | 1.5 MB</span></a>
                            <a class='vimeo video_enlace' href="http://player.vimeo.com/video/90038904?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" title="Video Aniversario">Vídeo décimo aniversario</a>
                        </div>
                    </div>
                    <!--FIN pestaña presentación-->
                    <h4>Rasgos diferenciales</h4>
                    <div id="rasgos_diferenciales" class="pestana_sec1_02  block_pestana">
                        <div class="left">
                            <h3>Compromiso con el resultado de la gestión</h3>
                            <ul>
                                <li><span>· </span>Los socios de Cartesio Inversiones se comprometen a invertir todo su ahorro financiero en los fondos Cartesio. Compromiso reflejado en los estatutos de la compañía y el código de conducta depositado en la CNMV</li>
                                <li><span>· </span>Mismos socios / gestores desde inicio en el 2004</li>
                            </ul>

                            <h3>Voluntad de protección de capital</h3>
                            <ul>
                                <li><span>· </span>Dispuestos a renunciar a rentabilidad para proteger el capital</li>
                            </ul>

                            <h3>Gestión Flexible</h3>
                            <ul>
                                <li><span>· </span>Alta flexibilidad en la distribución de activos</li>
                                <li><span>· </span>Objetivo de rentabilidad absoluta y rentabilidad-riesgo</li>
                            </ul>
                        </div>
                        <div class="right">
                            <h3>Dos fondos</h3>
                            <ul>
                                <li><span>· </span>Concentra la atención del gestor</li>
                                <li><span>· </span>Simplifica el proceso de distribución de activos del cliente</li>
                            </ul>

                            <h3>Comisiones bajas y ligadas a rentabilidad</h3>
                            <ul>
                                <li><span>· </span>Las comisiones de los fondos de Cartesio están entre las más bajas del mercado entre los fondos que ligan la comisión de gestión a la rentabilidad obtenida</li>
                            </ul>

                            <h3>Transparencia</h3>
                            <ul>
                                <li><span>· </span>Información detallada y mensual sobre las inversiones del fondo y riesgos. Liquidez diaria sin comisiones de suscripción o reembolso</li>
                            </ul>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="docs/Presentacion%20Institucional%20-%202T17.pdf" target="_blank" title="">Presentación institucional <span class="light_grey">| PDF | 1.5 MB</span></a>
                        </div>
                    </div>
                    <h4>Estilo de Inversión</h4>
                    <div id="estilo_inversion" class="pestana_sec1_03  block_pestana">
                        <div class="left">
                            <h3>Renta variable</h3>
                            <ul>

                                <li><span>· </span>Carteras con un número reducido de valores (30-35)</li>
                                <li><span>· </span> Preferencia por "valor" frente a crecimiento. El "precio", factor decisivo en decisiones</li>
                                <li><span>· </span> Calidad del negocio es importante</li>
                                <li><span>· </span> Preferencia por sectores tradicionales. Fáciles de entender y de valorar</li>
                                <li><span>· </span> Valoración fundamental. Múltiplos, generación de caja, creación de valor, descuentos de flujos</li>
                                <li><span>· </span> Compañías de capitalización mediana / grande</li>
                                <li><span>· </span> Tendencia a evitar el apalancamiento excesivo</li>
                                <li><span>· </span> Ausencia "stop loss" individual por posición</li>

                            </ul>
                        </div>
                        <div class="right">
                            <h3>Renta fija</h3>
                            <ul>
                                <li><span>· </span> Carteras muy diversificadas</li>
                                <li><span>· </span> Riesgo de duración sólo si el rendimiento es atractivo en términos nominales</li>
                                <li><span>· </span> Preferencia por la liquidez. Emisiones "benchmark"</li>
                                <li><span>· </span> Protección de alto dividendo deseable</li>
                                <li><span>· </span> Preferencia por el riesgo crediticio bajo</li>
                                <li><span>· </span> Ajustes de la duración con futuros del bono <br />alemán / americano</li>

                            </ul>
                        </div>
                        <div class="clear">
                            <a class="pdf_descarga" href="docs/Presentacion%20Institucional%20-%202T17.pdf" target="_blank" title="">Presentación Institucional <span class="light_grey"> | PDF | 1.5 MB</span></a>
                        </div>
                    </div>
                    <h4>Equipo</h4>
                    <div id="equipo" class="pestana_sec1_04  block_pestana">
                        <ul class="menuEquipo">
                            <li><a class="active all" href="#todas_areas" data-option=".miembroEquipo">Todas las áreas</a></li>
                            <li><a href="#socios" data-option=".socio">Socios</a></li>
                            <li><a href="#gestores" data-option=".gestor">Gestores</a></li>
                            <li><a href="#analistas" data-option=".analista">Analistas</a></li>
                            <li><a href="#administracion" data-option=".administracion">Administración</a></li>
                        </ul>

                        <div class="containerEquipo">
                            <div class="miembroEquipo socio gestor">
                                <div class="imagenEquipo">
                                    <a href="#cayetano_cornet" class="worker_btn"><img src="/images/equipo/Cayetano_Cornet.jpg" alt="Cayetano Cornet, CFA socio y gestor en Cartesio" /></a>

                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Cayetano Cornet, CFA</div>
                                    <div class="cargo">Socio/Gestor</div>
                                </div>
                            </div>
                            <div id="cayetano_cornet" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Cayetano_Cornet.jpg" alt="Cayetano Cornet, CFA socio y gestor en Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Cayetano Cornet, CFA</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Consejero y Socio Fundador (desde 2004)</li>
                                        <li><strong>Invercaixa (Grupo La Caixa)</strong> - Director de Inversiones (1998-04)</li>
                                        <li><strong>Credit Lyonnais Securities</strong> - Analista de Inversiones (1996-98)</li>
                                        <li><strong>Andersen Consulting</strong> - Consultor (1994-96)</li>
                                        <li><strong>Universidad Complutense</strong> - Licenciado en Ciencias Económicas (1992)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="miembroEquipo socio gestor">
                                <div class="imagenEquipo">
                                    <a href="#alvaro_martinez" class="worker_btn"><img src="/images/equipo/Alvaro_Martinez.jpg" alt="Alvaro Martínez socio y gestor en Cartesio" /></a>

                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Alvaro Martínez</div>
                                    <div class="cargo">Socio/Gestor</div>
                                </div>
                            </div>
                            <div id="alvaro_martinez" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Alvaro_Martinez.jpg" alt="Alvaro Martínez socio y gestor en Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Alvaro Martínez</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Consejero y Socio Fundador (desde 2004)</li>
                                        <li><strong>Morgan Stanley</strong> - Executive Director (1999-03)</li>
                                        <li><strong>AB Asesores</strong> - Socio Director (1992-99)</li>
                                        <li><strong>LCF Edmond de Rothschild Securities</strong> - Director (1988-92)</li>
                                        <li><strong>BNP Paribas Securities</strong> - Analista de Inversiones (1987-88)</li>
                                        <li><strong>Touche Ross</strong> - Auditor (1985-86)</li>
                                        <li><strong>London School of Economics</strong> - BSc Econ (1985)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="miembroEquipo socio gestor">
                                <div class="imagenEquipo">
                                    <a href="#juan_bertran" class="worker_btn"><img src="/images/equipo/Juan_A_Bertran.jpg" alt="Juan A. Bertrán, CFA socio y gestor en Cartesio" /></a>

                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Juan A. Bertrán, CFA</div>
                                    <div class="cargo">Socio/Gestor</div>
                                </div>
                            </div>
                            <div id="juan_bertran" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Juan_A_Bertran.jpg" alt="Juan A. Bertrán, CFA socio y gestor en Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Juan A. Bertrán, CFA</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Consejero y Socio Fundador (desde 2004)</li>
                                        <li><strong>Morgan Stanley</strong> - Managing Director (1999-04)</li>
                                        <li><strong>AB Asesores</strong> -  Socio Director (1988-99)</li>
                                        <li><strong>Ministerio de Economía</strong> - Técnico Comercial y Economista del Estado (1985-88)</li>
                                        <li><strong>Columbia University</strong> - M.A. and M.Phil. in Economics (1984)</li>
                                        <li><strong>Universidad Complutense</strong> - Licenciado en Ciencias Económicas (1981)</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="miembroEquipo analista gestor">
                                <div class="imagenEquipo">
                                    <a href="#ignacio_sanz" class="worker_btn"><img src="/images/equipo/Ignacio_Sanz.jpg" alt="Ignacio Sanz, CFA gestor y analista en Cartesio" /></a>


                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Ignacio Sanz, CFA</div>
                                    <div class="cargo">Gestor/Analista</div>
                                </div>
                            </div>
                            <div id="ignacio_sanz" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Ignacio_Sanz.jpg" alt="Ignacio Sanz, CFA gestor y analista en Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Ignacio Sanz, CFA</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Analista Senior y Gestor (desde 2015)</li>
                                        <li><strong>UBS</strong> - Executive Director, Analista Iberia Sector Financiero, Infraestructuras, Holdings, Small Caps. (2005-15)</li>
                                        <li><strong>Benito & Monjardín</strong> - Subdirector de Análisis y Analista Sector Financiero (2004-05)</li>
                                        <li><strong>BBVA Bolsa </strong> - Analista Sector Financiero (2000-04)</li>
                                        <li><strong>Renta 4</strong> -  Analista Junior Sector Financiero, Small Caps. (1996-99)</li>
                                        <li><strong>Instituto Español de Analistas Financieros</strong> - Master en Mercados Financieros, CEFA (2000)</li>
                                        <li><strong>Universidad Alcalá de Henares</strong> - Licenciado en ADE (Auditoria) y Ciencias Actuariales (1997)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="miembroEquipo analista gestor">
                                <div class="imagenEquipo">
                                    <a href="#ignacio_carvajal" class="worker_btn"><img src="/images/equipo/Ignacio_de_Carvajal.jpg" alt="Ignacio Carvajal analista y Gestor de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Ignacio Carvajal</div>
                                    <div class="cargo">Gestor/Analista</div>
                                </div>
                            </div>
                            <div id="ignacio_carvajal" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Ignacio_de_Carvajal.jpg" alt="Ignacio Carvajal analista y Gestor de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Ignacio Carvajal</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Analista Senior y Gestor (desde 2016)</li>
                                        <li><strong>AENA</strong> - Comité de Dirección, Jefe de Relaciones con Inversores (2013-15)</li>
                                        <li><strong>UBS</strong> - Executive Director, Analista Iberia Sector Inmobiliario, Construcción, Media, Retail, Holdings, Small Caps (2004-12)</li>
                                        <li><strong>BBVA Bolsa</strong> -  Analista Sector Petróleo (2002-04)</li>
                                        <li><strong>CSFB</strong> - Analista Sector Inmobiliario Europeo . (1999-01)</li>
                                        <li><strong>BSCH</strong> - Analista Small Caps (1998-99)</li>
                                        <li><strong>ICADE (E-2)</strong> - Licenciado en ADE (1997)</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="miembroEquipo analista">
                                <div class="imagenEquipo">
                                    <a href="#jorge_losa" class="worker_btn"><img src="/images/equipo/Jorge_Losa.jpg" alt="Cayetano Cornet Socio y Gestor de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Jorge Losa</div>
                                    <div class="cargo">Analista</div>
                                </div>
                            </div>

                            <div id="jorge_losa" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Jorge_Losa.jpg" alt="Jorge Losa analista de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Jorge Losa</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Analista (desde 2017)</li>
                                        <li><strong>UBS Associate</strong> -  Director: Asesoramiento financiero de Instituciones financieras europeas y compañías large y mid-caps españolas (2011-17)</li>
                                        <li><strong>Alantra (NMAS1)</strong> - Asesoramiento financiero de compañías españolas (2010-11)</li>
                                        <li><strong>ICADE (E-3)</strong> - Licenciado en Derecho (2005-10) y ADE (2005-11)</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="miembroEquipo analista">
                                <div class="imagenEquipo">
                                    <a href="#carlos_escamez" class="worker_btn"><img src="/images/equipo/Carlos_Escamez.jpg" alt="Carlos Escámez analista de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Carlos Escámez</div>
                                    <div class="cargo">Analista</div>
                                </div>
                            </div>

                            <div id="carlos_escamez" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Carlos_Escamez.jpg" alt="Carlos Escámez analista de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Carlos Escámez</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Analista (2016)</li>
                                        <li><strong>UBS</strong> - Fusiones y Adquisiciones, Instituciones Financieras (2016)</li>
                                        <li><strong>UBS</strong> - Mercados, Acciones y Derivados (2015)</li>
                                        <li><strong>Universidad Politécnica de Madrid</strong> - Ingeniería en Tecnologías Industriales (2015)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="miembroEquipo administracion">
                                <div class="imagenEquipo">
                                    <a href="#antonio_madueno" class="worker_btn"><img src="/images/equipo/Antonio_Madueno.jpg" alt="Antonio Madueño Operaciones de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo">
                                    <div class="nombre">Antonio Madueño</div>
                                    <div class="cargo">Operaciones</div>
                                </div>
                            </div>

                            <div id="antonio_madueno" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Antonio_Madueno.jpg" alt="Antonio Madueño Operaciones de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Antonio Madueño</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Departamento de Operaciones (Desde 2014)</li>
                                        <li><strong>Kiron</strong> - Asesor Financiero (2014)</li>
                                        <li><strong>Squire Patton Boggs</strong> - Departamento de Corporate Law (2013)</li>
                                        <li><strong>CUNEF</strong> - Licenciado en Derecho (2013)</li>
                                        <li><strong>BME</strong> - Curso de Bolsa y Mercados Financieros (2012)</li>
                                        <li><strong>CUNEF</strong> - Licenciado en ADE (2012)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="miembroEquipo administracion">
                                <div class="imagenEquipo">
                                    <a href="#alicia_perez" class="worker_btn"><img src="/images/equipo/Alicia_Perez.jpg" alt="Alicia Pérez Clientes de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo mujer">
                                    <div class="nombre">Alicia Pérez</div>
                                    <div class="cargo">Clientes</div>
                                </div>
                            </div>

                            <div id="alicia_perez" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Alicia_Perez_grande.jpg" alt="Alicia Pérez Clientes de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Alicia Pérez</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Departamento de Clientes (Desde 2004)</li>
                                        <li><strong>Qualytel Teleservices</strong> - Gestion Documental (2004)</li>
                                        <li><strong>Nestle España</strong> - Departamento de Exportaciones (2003)</li>
                                        <li><strong>Nestle México</strong> - Asesoría Jurídica (2002)</li>
                                        <li><strong>Universidad Carlos III</strong> - Master en Comercio Exterior y Negocios Internacionales (2003)</li>
                                        <li><strong>Universidad Latinoamericana</strong> - Profesora Adjunta Comercio Exterior (2001)</li>
                                        <li><strong>Universidad Latinoamericana (México)</strong> - Licenciada en Derecho (2000)</li>
                                    </ul>
                                </div>
                            </div>



                            <div class="miembroEquipo administracion">
                                <div class="imagenEquipo">
                                    <a href="#mar_capon" class="worker_btn"><img src="/images/equipo/Mar_Capon.jpg" alt="Mar Capón Clientes de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo mujer">
                                    <div class="nombre">Mar Capón</div>
                                    <div class="cargo">Clientes</div>
                                </div>
                            </div>

                            <div id="mar_capon" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Mar_Capon_grande.jpg" alt="Mar Capón Clientes de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Mar Capón</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Departamento de Clientes (Desde 2014)</li>
                                        <li><strong>Inergia Grupo</strong> - Gestor de Cuentas (2008-2013)</li>
                                        <li><strong>Starbucks España</strong> -  Departamento Financiero (2004-2008)</li>
                                        <li><strong>Universidad Carlos III</strong> - Curso en Comercio Exterior y Mercados Internacionales (1996)</li>
                                        <li><strong>Universidad Carlos III</strong> - Licenciada en Derecho (1996)</li>
                                    </ul>
                                </div>
                            </div>



                            <div class="miembroEquipo administracion">
                                <div class="imagenEquipo">
                                    <a href="#itziar_alvarez" class="worker_btn"><img src="/images/equipo/Itziar_Alvarez.jpg" alt="Itziar Alvarez Control de Riesgos de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo mujer">
                                    <div class="nombre">Itziar Alvarez</div>
                                    <div class="cargo">Control de Riesgos</div>
                                </div>
                            </div>

                            <div id="itziar_alvarez" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Itziar_Alvarez_grande.jpg" alt="Itziar Alvarez Control de Riesgos de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Itziar Alvarez</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Directora de Administración y Control de Riesgos (Desde 2007)</li>
                                        <li><strong>Morgan Stanley</strong> - Directora de Operaciones (1999-2003)</li>
                                        <li><strong>AB Asesores</strong> - Departamento de Operaciones (1994-1999)</li>
                                        <li><strong>Seinsa</strong> - Departamento de Contabilidad (1993)</li>
                                        <li><strong>Universidad Autónoma de Madrid</strong> - Licenciada en Ciencias Empresariales (1993)</li>
                                    </ul>
                                </div>
                            </div>




                            <div class="miembroEquipo administracion">
                                <div class="imagenEquipo">
                                    <a href="#paloma_alvarez" class="worker_btn"><img src="/images/equipo/Paloma_Alvarez.jpg" alt="Paloma Alvarez Operaciones de Cartesio" /></a>


                                </div>
                                <div class="miembroInfo mujer">
                                    <div class="nombre">Paloma Alvarez</div>
                                    <div class="cargo">Operaciones</div>
                                </div>
                            </div>

                            <div id="paloma_alvarez" class="worker_modal">
                                <div class="close_worker"><img src="/images/close_menu.png" /></div>
                                <div class="left">
                                    <img src="/images/equipo/Paloma_Alvarez_grande.jpg" alt="Paloma Alvarez Operaciones de Cartesio">
                                </div>
                                <div class="right">
                                    <h5>Paloma Alvarez</h5>
                                    <ul>
                                        <li><strong>Cartesio</strong> - Departamento de Operaciones y Contabilidad (Desde 2009)</li>
                                        <li><strong>BMW Iberica</strong> - Gestion de Proyectos (2007 – 2009)</li>
                                        <li><strong>Bankinter</strong> - Departamento de Seguros (2007)</li>
                                        <li><strong>Universidad Autónoma de Madrid</strong> - Licenciada en Economía (2007)</li>
                                    </ul>
                                </div>
                            </div>

                        </div>


                    </div>
                    <script>

					function squareDiv(sel){
						var w = jQuery (sel).width();
						jQuery (sel).height(w);
					}


					$(document).ready(function(){

					    //alert("que pasa");
						squareDiv('.miembroEquipo');

						jQuery('.menuEquipo a').on('click', function(e){
							e.preventDefault();
							var selector = jQuery(this).attr('data-option');

							jQuery('.worker_modal').hide();
							jQuery('.menuEquipo a').removeClass('active');
							jQuery(this).addClass('active');

							jQuery('.miembroEquipo').css('display','none');
							jQuery(selector).css('display','table');



						});
					});
					jQuery(window).on('resize', function(){
						squareDiv('.miembroEquipo');
					});



                    </script>
                </div>
                <div id="flecha_02"></div>
            </div>
        </div>



        <div id="los_fondos" class="seccion">
            <div class="center">
                <div id="flecha_07"></div>

                <a name="section3" class="section"></a>
                <h2>Los fondos</h2>
                <div class="left mobile_bottom">

                    <div class="min_height">

                        <h3 class="titulo_fondo"><a href="/Home/fondo_cartesio_y"><img src="/images/titulos/cartesio_y.png" alt="Acceso a Cartesio Y" /></a></h3>
                        <h3>Objetivo de inversión</h3>
                        <p>Revalorización del capital en términos reales a largo plazo. Intenta superar la relación riesgo/rentabilidad del índice MSCI Pan Euro. Disposición a renunciar a rentabilidad en el intento de ofrecer una protección adecuada al capital.</p>
                        <h3>Selección y Distribución de inversiones</h3>
                        <p>Invierte en renta variable en un número reducido de valores. Exposición variable (0-100%). Máximo de un 40% en mercado no europeo. Moneda de referencia: Euro. Máximo 20% en posiciones abiertas en divisa.</p>
                    </div>

                    <div class="fondos_premios">
                        <p>Fondos disponibles con esta estrategia:<br /><span>* Ratings corresponden a Cartesio Y</span></p>
                        <div class="primera left">
                            <h4 class="hide_mobile cartesio_y"><a href="/Home/fondo_cartesio_y"><img src="/images/titulos/cartesio_y_peq.png" alt="Acceso a Cartesio Y" /></a></h4>
                            <h4 class="mobile cartesio_y"><a href="/Home/fondo_cartesio_y"><img class="logo_mob_peq" src="/images/titulos/cartesio_y.svg" alt="Acceso a Cartesio Y" /></a></h4>
                            <img src="/images/premios/premio_cartesio_y.jpg" class="premio" alt="Premios Cartesio Y" />
                            <div class="ver_mas"><a href="/Home/fondo_cartesio_y">Ver más</a></div>
                        </div>
                        <div class="final left">
                            <h4 class="hide_mobile cartesio_equity"><a href="/Home/fondo_cartesio_equity"><img src="/images/titulos/cartesio_equity_asterisco.png" alt="Acceso a Equity" /></a></h4>
                            <h4 class="mobile cartesio_equity"><a href="/Home/fondo_cartesio_equity"><img src="/images/titulos/cartesio_equity.svg" alt="Acceso a Equity" /></a></h4>
                            <img src="/images/premios/premio_cartesio_equity.jpg" class="premio" alt="Premios Cartesio Equity" />
                            <div class="ver_mas"><a href="/Home/fondo_cartesio_equity">Ver más</a></div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="min_height">
                        <h3 class="titulo_fondo"><a href="/Home/fondo_cartesio_x"><img src="/images/titulos/cartesio_x.png" alt="Acceso a Cartesio X" /></a></h3>
                        <h3>Objetivo de inversión</h3>
                        <p>Revalorización del capital en términos reales a largo plazo intentando proteger el capital. El fondo busca superar la relación rentabilidad/riesgo ofrecida por la deuda pública a largo plazo <br />de la zona Euro.</p>
                        <h3>Selección y Distribución de inversiones</h3>
                        <p>Exposición a renta fija (0-100). Una máximo del 40% se invierte en renta variable. Moneda de referencia: Euro. Máximo 20% en posiciones abiertas en divisa.</p>


                    </div>

                    <div class="fondos_premios">
                        <p>Fondos disponibles con esta estrategia:<br /><span>* Ratings corresponden a Cartesio X</span></p>
                        <div class="primera left">
                            <h4 class="hide_mobile cartesio_x"><a href="/Home/fondo_cartesio_x"><img src="/images/titulos/cartesio_x_peq.png" alt="Acceso a Cartesio X" /></a></h4>
                            <h4 class="mobile cartesio_x"><a href="/Home/fondo_cartesio_x"><img class="logo_mob_peq" src="/images/titulos/cartesio_x.svg" alt="Acceso a Cartesio X" /></a></h4>
                            <img src="/images/premios/premio_cartesio_x.jpg" class="premio" alt="Premios Cartesio X" />
                            <div class="ver_mas"><a href="/Home/fondo_cartesio_x">Ver más</a></div>
                        </div>
                        <div class="final left">
                            <h4 class="hide_mobile cartesio_income"><a href="/Home/fondo_cartesio_income"><img src="/images/titulos/cartesio_income_asterisco.png" alt="Acceso a Cartesio Income" /></a></h4>
                            <h4 class="mobile cartesio_income"><a href="/Home/fondo_cartesio_income"><img src="/images/titulos/cartesio_income.svg" alt="Acceso a Cartesio Income" /></a></h4>
                            <img src="/images/premios/premio_cartesio_income.jpg" class="premio" alt="Premios Cartesio Income" />
                            <div class="ver_mas"><a href="/Home/fondo_cartesio_income">Ver más</a></div>
                        </div>
                    </div>
                </div>
                <div id="flecha_03"></div>
            </div>
        </div>



        <div id="suscripciones_reembolsos" class="seccion sec_pest">
            <a name="section4" class="section"></a>

            <h2 class="title">Suscripciones y Reembolsos</h2>
            <div class="center">
                <div id="flecha_06"></div>
                <div class="box_pestanas">
                    <ul>
                        <li class="sec1_01 firstTab"><a href="#nuevos_clientes">Nuevos Clientes</a></li>
                        <li><a href="#suscripciones">Suscripciones</a></li>
                        <li><a href="#reembolsos">Reembolsos</a></li>
                        <li class="lastTab"><a href="#traspasos">Traspasos</a></li>

                    </ul>

                    <!--INICIO NUEVOS CLIENTES-->
                    <h4>Nuevos Clientes</h4>
                    <div id="nuevos_clientes" class="block_pestana">
                        <div class="left">
                            <p>Para darse de alta como nuevo cliente de Cartesio S.G.I.I.C deberá descargar la documentación que aparece en el archivo Nuevos Clientes, completarla y enviarla por email a <a href="mailto:clientes@cartesio.com" target="_blank" />clientes@cartesio.com</a> o al número de fax<strong> 91 310 61 30</strong>.</p>
                            <div class="downloads">
                                <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Informacion_precontractual_0107.pdf" target="_blank" title="">Información Precontractual <span class="light_grey">|PDF|45 KB </span></a>
                                <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Ficha_NuevoCliente.pdf" target="_blank" title="">Nuevos clientes <span class="light_grey">|PDF|1.5 MB </span></a>
                                <a class="pdf_descarga" href="docs/legal/KID%20Cartesio%20Y%20-%20260115.pdf" target="_blank" title="">DFI Cartesio Y <span class="light_grey">| PDF | 2.3 MB </span></a>
                                <!--<a class="pdf_descarga"  href="docs/ title="" >Folleto Cartesio Equity <span class="light_grey">| PDF | 2.3 MB </span></a>-->
                                <a class="pdf_descarga" href="docs/legal/KID%20Cartesio%20X%20-%20260115.pdf" target="_blank" title="" title="">DFI Cartesio X <span class="light_grey">| PDF | 1.3 MB </span></a>
                                <a class="pdf_descarga" href="docs/legal/KIID%20Pareturn%20Cartesio%20Equity%20-%20Espanol%20-%2019022016%20-%20WEB.pdf" target="_blank" title="" title="">DFI Cartesio Equity <span class="light_grey">| PDF | 1.3 MB </span></a>
                                <a class="pdf_descarga" href="docs/legal/KIID%20Pareturn%20Cartesio%20Income%20-%20Espanol%20-%2019022016%20-%20WEB.pdf" target="_blank" title="" title="">DFI Cartesio Income <span class="light_grey">| PDF | 1.3 MB </span></a>
                                <!--<a class="pdf_descarga"  href="" title="" >Folleto Cartesio Income <span class="light_grey">| PDF | 1.3 MB </span></a>-->
                            </div>
                        </div>
                        <div class="right">
                            <p>Los documentos incluidos en el archivo Nuevos Clientes deberán rellenarse en el siguiente orden:</p>
                            <div class="list_number one">
                                <h3>Ficha de Apertura</h3>
                                <p>Este es el único documento del que Cartesio debe recibir el ORIGINAL. Es necesaria la firma de todos los titulares (cotitulares) asi como de los autorizados, apoderados etc y fotocopias del DNI o NIF de cada uno.</p>
                            </div>
                            <div class="list_number two">
                                <h3>Test de Conveniencia del cliente</h3>
                                <p>A completar y firmar por cliente.</p>
                            </div>
                            <div class="list_number three">
                                <h3>Declaración de recepción folleto Cartesio Y y/o X</h3>
                                <p>Firmar por cliente según suscripción</p>
                            </div>
                            <div class="list_number four">
                                <h3>Cuestionario de conocimiento del cliente</h3>
                                <p>A completar y firmar por el cliente.</p>
                            </div>
                            <div class="list_number five">
                                <h3>Orden de suscripción o en su caso orden de traspaso</h3>
                                <p>Ver apartados Suscripciones o Traspasos de esta web.</p>
                            </div>
                        </div>
                        <div class="clear">
                            <p>Para cualquier duda o aclaración se recomienda ponerse en contacto con el departamento de clientes de Cartesio en el número de télefono <strong>91 310 62 40</strong><p>
                        </div>
                    </div>
                    <!--FIN NUEVOS CLIENTES-->
                    <!--INICIO SUSCRIPCIONES-->
                    <h4>Suscripciones</h4>
                    <div id="suscripciones" class="block_pestana">
                        <div class="table">
                            <div class="outter-left">
                                <p class="clear_top">Hay dos formas de suscribir los fondos a Cartesio:</p>
                                <div class="left">

                                    <div class="list_number one">
                                        <h3>Enviar una transferencia</h3>
                                        <p>A la cuenta del fondo (se indica la cuenta de cada fondo) y remitir por correo electrónico <a href="mailto:clientes@cartesio.com" target="_blank" />clientes@cartesio.com</a> o fax una orden de suscripción (PDF Adjunto) firmada. Es imprescindible confirmar la operación enviada por fax, por vía telefónica.</p>
                                    </div>
                                    <div class="list_number two">
                                        <h3>Personalmente</h3>
                                        <p>En mano en nuestras oficinas o por correo, cheque nominativo a favor del fondo que se solicite junto con una orden de suscripción (PDF adjunto) firmada.</p>
                                    </div>
                                    <div class="downloads">
                                        <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Ficha_Suscripcion.pdf" target="_blank" title="">Orden de suscripción <span class="light_grey"> |PDF|1.5 MB</span></a>
                                    </div>
                                </div>
                                <div class="right">

                                    <h3><img src="/images/titulos/cartesio_y_med.png" width="110" /></h3>
                                    <p>
                                        IBAN: ES20 0144 0001 31 0000052602<br />
                                        BNP PARIBAS - BIC: PARBESMXXXX
                                    </p>

                                    <h3><img src="/images/titulos/cartesio_x_med.png" width="110" /></h3>
                                    <p>
                                        IBAN: ES98 0144 0001 34 0000052603<br />
                                        BNP PARIBAS - BIC: PARBESMXXXX
                                    </p>

                                    <h3><img src="/images/titulos/cartesio_equity_med.png" width="150" /></h3>
                                    <p>
                                        IBAN: ES33 0144 0001 31 0000053241<br />
                                        BNP PARIBAS - BIC: PARBESMXXXX
                                    </p>

                                    <h3><img src="/images/titulos/cartesio_income_med.png" width="150" /></h3>
                                    <p>
                                        IBAN: ES88 0144 0001 32 0000054530<br />
                                        BNP PARIBAS - BIC: PARBESMXXXX
                                    </p>

                                    <div class="downloads">
                                        <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Ficha_Suscripcion.pdf" target="_blank" title="">Orden de suscripción <span class="light_grey"> |PDF|1.5 MB</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="outter-right">
                                <img src="/images/orden_suscripciones.jpg" class="orden-img" alt="Orden de Suscripciones">
                            </div>
                        </div>

                        <div class="clear">
                            <p>Para cualquier duda o aclaración se recomienda ponerse en contacto con el departamento de clientes de Cartesio en el número de télefono <strong>91 310 62 40</strong><p>
                        </div>
                    </div>

                    <!--FIN SUSCRIPCIONES-->
                    <h4>Reembolsos</h4>
                    <div id="reembolsos" class="block_pestana">
                        <div class="table">
                            <div class="left">
                                <p>Para reembolsar los fondos Cartesio se completa y firma por todos los titulares, la <a href="docs/SuscripcionesyReembolsos/Ficha_Reembolso.pdf" title="">orden de reembolso</a> (PDF adjunto). La orden de reembolso se puede enviar por fax, por correo <a href="mailto:clientes@cartesio.com" target="_blank" />clientes@cartesio.com</a> o se puede entregar en mano en nuestras oficinas. Es imprescindible confirmar la operación por vía telefónica.</p>
                                <p>El reembolso toma como fecha valor el día que la orden ha sido recibida por Cartesio S.G.I.I.C si ésta se recibe antes de las 14.00 horas. Se practica una retención del 19% sobre la plusvalía.</p>
                                <div class="clear_top">
                                    <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Ficha_Reembolso.pdf" target="_blank" title="">Orden de reembolso <span class="light_grey"> |PDF|1.5 MB</span></a>
                                </div>
                            </div>
                            <div class="right">
                                <img src="/images/orden_reembolso.jpg" class="orden-img" alt="Orden de Reembolso">
                            </div>
                        </div>


                        <div class="clear">
                            <p>Para cualquier duda o aclaración se recomienda ponerse en contacto con el departamento de clientes de Cartesio en el número de télefono <strong>91 310 62 40</strong><p>
                        </div>
                    </div>
                    <h4>Traspasos</h4>
                    <div id="traspasos" class="block_pestana">
                        <div class="table">
                            <div class="left">
                                <p>Para traspasar fondos de otra entidad a fondos de Cartesio se completa y firma la <a href="docs/SuscripcionesyReembolsos/Ficha_Traspaso.pdf" title="">solicitud de traspaso </a>(PDF adjunto). Es importante rellenar correctamente todos los datos de identificación del fondo que se <br />quiera traspasar y enviar la ficha por correo a <a href="mailto:clientes@cartesio.com" target="_blank" />clientes@cartesio.com</a> o por fax <strong>91 310 61 30</strong> confirmando telefónicamente esta última.</p>
                                <p>Una vez que el traspaso sea verificado por la gestora de donde proviene el fondo se procederá a suscribir participaciones del fondo de Cartesio por el mismo importe.</p>
                                <div class="clear_top">
                                    <a class="pdf_descarga" href="docs/SuscripcionesyReembolsos/Ficha_Traspaso.pdf" target="_blank" title="">Traspasos <span class="light_grey"> |PDF|1.5 MB</span></a>
                                </div>
                            </div>
                            <div class="right">
                                <img src="/images/orden_traspaso.jpg" class="orden-img" alt="Orden de Traspaso">
                            </div>
                        </div>

                        <div class="clear">
                            <p>Para cualquier duda o aclaración se recomienda ponerse en contacto con el departamento de clientes de Cartesio en el número de télefono <strong>91 310 62 40</strong><p>
                        </div>
                    </div>
                </div>
                <div id="flecha_04"></div>
            </div>
        </div>

        <div id="contacto" class="seccion">

            <div class="center">
                <div id="flecha_05"></div>

                <h2>Contacto</h2>
                <a name="section5" class="section"></a>
                <div class="left">
                    <h3>Cartesio Inversiones, SGIIC SA</h3>
                    <ul>
                        <li class="direccion">Rubén Darío 3, 28010 Madrid</li>
                        <li class="correo"><a href="mailto:info@cartesio.com?Subject=Cartesio web" target="_blank" title="">info@cartesio.com</a></li>
                        <li class="telefono">91 310 62 40 </li>
                        <li class="fax">91 310 61 30</li>
                    </ul>
                </div>
                <div class="right">
                    <p>Si desea recibir más información o suscribir los fondos Cartesio, por favor rellene los siguientes datos y nos pondremos en contacto con usted a la mayor brevedad posible.</p>
                    <div id="formulario_contacto">
                        <form id="contactForm" method="post" action="#">
                            <input type="text" name="nombre" required placeholder="Nombre" />
                            <input style="margin-right:0px;" type="text" required name="apellidos" placeholder="Apellidos" />
                            <input type="text" name="email" required placeholder="E-Mail" />
                            <input style="margin-right:0px;" type="text" name="telefono" placeholder="Teléfono" />
                            <textarea placeholder="Comentarios" required name="comentarios"></textarea>
                            <script type="text/javascript">var RecaptchaOptions = {   theme : 'clean',   lang  : 'es',   tabindex : 0};</script>
                            <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LddBvMSAAAAAAb2g1hhygFUQxKGPR6_0obD1LmF"></script><noscript><iframe src="https://www.google.com/recaptcha/api/noscript?k=6LddBvMSAAAAAAb2g1hhygFUQxKGPR6_0obD1LmF" frameborder="1"></iframe><><textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea><input type="hidden" name="recaptcha_response_field" value="manual_challenge"></noscript>
                            <p></p>
                            <!-- Mensaje de información: aceptar condiciones  -->
                            <p>
                                <input type="checkbox" id="terminos" name="terminos" style="margin-left: 0px; width: 15px; height: 15px; vertical-align: middle; margin-right: 0px; margin-bottom: 0px; margin-top: 2px;"
                                       onclick="if($('#terminos').is(':checked')){ $('#botonSubmitSI').css({'display':'block'}); $('#botonSubmitNO').css({'display':'none'});}else{$('#botonSubmitSI').css({'display':'none'}); $('#botonSubmitNO').css({'display':'block'});}" />
                                <span style="padding-left: 0px;">Acepto la cláusula de “<a href="docs/legal/Clausula%20Web.pdf" target="_blank">Información y Protección de datos</a>”</span>
                            </p>
                            <input type="hidden" name="enviar" value="1">
                            <input type="submit" value="Enviar" id="botonSubmitSI" style="display: none;" />
                            <button id="botonSubmitNO" disabled="disabled" class="botonDesactivado" style="display: block; cursor: auto;">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>


  @section scripts{  
<script>
    $(function () {

        var tipo_dato = ['Rentabilidades Cartesio @ViewBag.year', 'Valor Liquidativo @ViewBag.date']
        //var datos = ['3,83%', '4,83%', '5,83%', '6,83%', '1689,84', '1234,84', '2345,84', '3214,84'];
        var datos = ['@(ViewBag.consultax)%', '@(ViewBag.consultay)%', '@(ViewBag.consultaequity)%', '@(ViewBag.consultaincome)%', '@(ViewBag.liquidativoX)', '@(ViewBag.liquidativoY)', '@(ViewBag.liquidativoEquity)', '@(ViewBag.liquidativoIncome)'];
        var nombre_dato = ['<img src="../../images/titulos/cartesio_x_white.png" alt="Rentabilidad de Cartesio X"/>', '<img src="../../images/titulos/cartesio_y_white.png" alt="Rentabilidad de Cartesio Y" style="margin-left:10px;"/>', '<img src="../../images/titulos/cartesio_equity_white.png" style="margin-top:-18px; margin-left:30px;" alt="Rentabilidad de Cartesio Equity"/>', '<img src="../../images/titulos/cartesio_income_white.png" style="margin-top:-18px; margin-left:30px;" alt="Rentabilidad de Cartesio Income"/>', '<img src="../../images/titulos/cartesio_x_white.png" alt="Valor de Cartesio X"/>', '<img src="../../images/titulos/cartesio_y_white.png" style="margin-left:10px;" alt="Valor de Cartesio Y"/>', '<img src="../../images/titulos/cartesio_equity_white.png" style="margin-top:-18px; margin-left:30px;" alt="Valor de Cartesio Equity"/>', '<img src="../../images/titulos/cartesio_income_white.png" style="margin-top:-18px; margin-left:30px;" alt="Valor de Cartesio Income"/>'];

        var n = datos.length;
        var number = 1;
        prueba();
        function prueba() {
            var time = setInterval(function () {

                $('#valores h3').html(tipo_dato[0]);
                $('.valor_num').html(datos[number]);
                $('.valor_txt').html(nombre_dato[number]);
                number++
                if (number >= 5) { $('#valores h3').html(tipo_dato[1]); if (number == n) { number = 0; } }

            }, 2500);
        }
    });
</script>

      }